.layout {
  background: linear-gradient(195deg, rgb(4, 4, 4), rgba(13, 19, 46, 0.6));
  background-image: linear-gradient(195deg, rgb(4, 4, 4), rgba(13, 19, 46, 0.6)),url("universe.jpg");
  background-size: cover;
  margin-bottom: -1px;
}


// Dashboard
.token-symbol {
    width: 2.7rem;
    height: 2.7rem;
}

.landing {
  margin-left: 16px;
    margin-right: 16px;
    margin-top: -100px;
    padding: 16px;
    margin-bottom: 8px;
    text-align: center;
    opacity: 1;
    background: linear-gradient(0deg, #0c0c0c, #1A73E8);
    color: #344767;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.25rem 1.25rem 0rem rgb(0 0 0 / 14%), 0rem 0.4375rem 0.625rem -0.3125rem rgb(0 0 0 / 40%);
}